main {
    .row {
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 2rem;
        }

    }

}