aside {
    background-color: grey;
    height: 100vh;
}

main {

    h1 {
        text-align: center;
        padding: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0.5rem;
    }

}

.relative {
    position: relative;
}