main {

    h1 {
        text-align: center;
        padding: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0.5rem;

        input {
            background-color: white;
            border: none;
            outline: none;
            transition: 0.5s;
            width: 20%;

            &:hover {
                background-color: black;
                color: white;
                width: 30%;
            }
        }

        .custom-select {
            background-color: black;
        }
    }
}

.main {
    margin-bottom: 4rem;
    min-height: 60vh;
}

.relative {
    position: relative;
}

@media (max-width:600px) {
    main {
        h1 {
            font-size: 2rem;
        }
    }
}