.absolute {
    position: fixed;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 80vh;
        padding: 20px;
    }

    .absoluteDiv {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: white;

        .titleDateRating {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            h5 {
                font-size: 3rem;
                text-align: center;
            }

            .date {
                font-size: 1.5rem;
            }

            .rating {
                font-size: 1.5rem;
            }

        }

        .overview {
            font-size: 1rem;
            overflow-y: scroll;
            max-height: 30vh;

        }

        button {
            position: absolute;
            right: 10px;
            top: 10px;
            background-color: grey;
            border: none;
            transition: 0.3s;

            &:hover {
                background-color: white;
            }
        }
    }
}

.single-movie {
    box-sizing: border-box;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;

    h5 {
        text-align: center;
        font-size: 1.3rem;
        padding: 0.5rem;
        margin: 0;
        color: black;
    }


    img {
        padding: 1rem;
    }

    .movieInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .date {
            padding-top: 0.5rem;
        }

        .rating {
            font-size: 2rem;
        }

        .overview {
            font-size: 0.8rem;
        }

        button {
            background-color: lightgrey;
            border: none;
            color: black;
            margin: 10px 0;
            width: 100%;
            transition: 0.4s;

            &:hover {
                background-color: black;
                color: white;

            }
        }
    }
}

.none {
    display: none;
}

@media (max-width:600px) {
    .absolute {
        top: 80px;
        bottom: 80px;

        img {
            height: 60vh;
        }

        .absoluteDiv {
            .titleDateRating {
                h5 {
                    font-size: 1.3rem;
                }

                .date {
                    font-size: 1rem;
                }

                .rating {
                    font-size: 1rem;
                }

            }

            .overview {
                font-size: 0.8rem;
            }
        }
    }
}