.absolute {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: white;
    // transform: translateY(50%);

    .absoluteDiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.single-movie {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

    img {
        padding: 1rem;
    }

    h5 {
        text-align: center;
        font-size: 16px;
        padding: 0.5rem;
    }

    .date {
        padding-top: 0.5rem;
    }

    .rating {
        font-size: 2rem;
    }

    .overview {
        font-size: 0.8rem;
    }

}

.none {
    display: none;
}