section {
    margin-bottom: 2rem;

    .row {
        h1 {
            text-align: center;
            padding: 2rem;
        }
    }
}

@media (max-width:600px) {
    section {
        .row {
            h1 {
                font-size: 2rem;
            }
        }
    }
}